*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

i{
    font-size: xx-large;
}

main{
    min-height: 100%;
    background-color: lightgray;
}

.bi-instagram{
    color: rgb(235, 47, 216);
}

.bi-facebook{
    color: blue;
}

.bi-whatsapp{
    color: green;
}

footer{
    background-color: black;
    color: white;
}




/*
}
@media only screen and (min-width: 375px) {
    *{
    background-color: aqua;
    }
    i{
    font-size: large;
}
@media only screen and (min-width: 768px) {
    *{
    background-color: blueviolet;
        
    }
}



@media only screen and (min-width: 1440px) {
    *{
        background-color: lightslategray;
    }
}
*/

